.opaqueBlocK {
    background-color: rgba(27, 106, 185, 0.9);
    font-size: 90%;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow: hidden;
}
p {
    margin-bottom: 28px;
    font-weight: 400;
}
ul li {
    list-style: disc;
}

.features-box {
    color: white;
    padding: 16px;
}
.features-box .title {
    width: 100%;
    margin: 0 0 12px;
}
.features-box .title h2 {
    font-weight: bold;
    font-size: 140%;
    color:yellow;
    text-wrap: avoid;
    white-space: nowrap;
    vertical-align: middle;
    margin: 0;
    padding: 12px 0 12px;
}
.features-box .material-icons {
    font-size: 150%;
    min-width: 32px;
    text-align: center;
}
.features-box .text {
    font-family: 'Dosis', sans-serif;
    padding: 0 32px 0 48px;
    font-weight: 400;
    width: 100%;
    font-size: 100%;
    line-height: 180%;
}

.opaqueBlocK .mdl-card {
    padding: 16px;
}
.opaqueBlocK .material-icons {
    color: white;
}
.opaqueBlocK .mdl-card__title {
    color:yellow;
    padding: 0;
    text-wrap: avoid;
    white-space: nowrap;
    vertical-align: middle;
    margin-bottom: 24px;
}
.opaqueBlocK .mdl-card__title-text {
    width: 100%;
    font-weight: bold;
    font-size: 140%;
}
.opaqueBlocK .mdl-card__supporting-text {
    color: white;
    font-family: 'Dosis', sans-serif;
    padding: 0 32px 0 48px;
    font-weight: 400;
    width: 100%;
    font-size: 100%;
    line-height: 180%;
}