.menu-button {
    position: fixed;
    right: 48px;
    bottom: 24px;
    z-index: 10; /* topmost */
}
.menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 88px;
    padding-left: 32px;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 10; /* topmost */
}
.menu-item a {
    font-size: 90%;
    font-weight: 600;
    line-height: 120%;
    padding: 8px;
    margin-left: 16px;
    margin-right: 48px;
    cursor: pointer;
}
.menu-item a span {
    padding-right: 4px;
    padding-left: 4px;
}
