<!-- FAB menu overlay TODO: make a ZUIX component out of this -->
<div data-ui-field="menu_overlay" layout="column bottom-right" class="menu-overlay"></div>

<!-- Colored FAB menu button -->
<button data-ui-field="menu_button" class="menu-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--accent mdl-shadow--6dp">
    <i class="material-icons">add</i>
</button>
<button data-ui-field="menu_button_close" class="menu-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--accent mdl-shadow--6dp">
    <i class="material-icons">close</i>
</button>

<div class="hidden">

    <!-- Menu item template -->
    <div data-ui-view="res/menu_overlay/item" class="menu-item" layout="row center-right" data-ui-transition-delay="{delay}s">
        <a title="{tooltip}" href="{href}">
            <span>{title}</span>
            <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary">
                <i class="material-icons">{icon}</i>
            </span>
        </a>
    </div>

</div>
