<div layout="column center-center" class="opaqueBlocK mdl-color-text--black animated bounceInUp mdl-shadow--8dp">

    <div self="size-xlarge center-center" layout="rows center-justify">
        <div self="size-1of2 sm-full" class="example-box -animated -fadeInLeft">
            <div>
                <h6>Reusability by design</h6>
                <p>
                    With <strong>zUIx</strong> you can include content
                    and load components also if located on different servers.
                </p>
<em class="caption">Loading content from local server</em>

```html
<div data-ui-include="content/lorem_ipsum"></div>
```

            </div>
        </div>
        <div self="size-1of2 sm-full" layout="row center-center" class="example-box -animated -fadeInRight">
            <div data-ui-include="content/lorem_ipsum"></div>
            <!--
            <div data-ui-load="@lib/components/social_sharing"
                 layout="rows center-center">
                <a data-ui-field="url" href="http://zuix.it">zUIx.js</a>
                <p data-ui-field="description">JavaScript library to support you in creating amazing component-based websites and applications.</p>
            </div>
            -->
        </div>
    </div>

    <div self="size-xlarge center-center" layout="rows center-justify" class="animated fadeInUp">
        <div self="md-full" class="example-box">
<em class="caption">Loading content from a shared library</em>

```html
<div data-ui-include="@lib/templates/spinkit/spinner_cubes"></div>
```

        </div>
        <div self="size-x1 center-center">

            <div data-ui-include="@lib/templates/spinkit/spinner_cubes"></div>

        </div>
        <div self="size-full" class="example-box">
            <p>
                The special <code>@lib</code> keyword is a configurable, relative
                or absolute, URL path that can be used as a shortcut to load components
                from a shared location. By default it points to the
                <a href="https://genielabs.github.io/zkit">zKit</a> website that is a
                collections of sample components made with <strong>zUIx</strong>.
            </p>
        </div>
    </div>
<!--
</div>
<div layout="column center-center" class="opaqueBlocK mdl-color-text--black animated bounceInUp mdl-shadow--8dp">
-->
    <div self="size-xlarge center-center" layout="rows center-center" class="animated fadeIn">
        <div self="size-full left" class="example-box">
            <h6>Transform and reshape</h6>
            <p>
                Keep <code>HTML</code> content code simple and clean and then transform it by
                applying <strong>templates</strong> or loading <strong>components</strong> on it.
                <br>
                With automatic fields mapping (data-binding) or JavaScript,
                templates and components can smoothly transform a minimal
                set of <code>HTML</code> elements into a rich and interactive content.
            </p>
        </div>
        <div self="md-full" class="example-box">
<em class="caption">Applying a <a href="https://getmdl.io/components/index.html">MDL</a> template from a remote server</em>

```html
<div data-ui-include="https://genielabs.github.io/zuix/app/templates/mdl_card">
    <h1 data-ui-field="title">Still got the goods</h1>
    <img data-ui-field="image" src="images/example_picture.jpg">
    <p data-ui-field="text">
        Fifty years after their debut album, The Rock Band
        prove they've still got the goods.
    </p>
    <a data-ui-field="link_read" href="javascript:alert('Clicked!')">Read More</a>
</div>
```

        </div>

    </div>
    <div self="size-xlarge center-center" layout="column center-center">

        <div class="example-box" data-ui-field="cover-example-template-apply">
            <p>
                This is how the HTML snippet above looks like before the
                <code>mdl_card</code> template is applied.
            </p>
        </div>
        <div class="example-box" style="min-height:55vh" layout="column center-center">

            <div data-ui-include="templates/mdl_card" class="size-w460" data-ui-lazyload="true"
            data-ui-field="test">
                <div class="template-example mdl-color--white content-padding">
                    <h1 data-ui-field="title">Still got the goods</h1>
                    <div align="center">
                        <img data-ui-field="image" src="images/example_picture.jpg" class="size-w460">
                    </div>
                    <p data-ui-field="text">
                        Fifty years after their debut album, The Rock Band
                        prove they've still got the goods.
                    </p>
                    <a data-ui-field="link_read" href="javascript:alert('Clicked!')">Read More</a>
                </div>
            </div>

            <!-- TODO: add combo do select a couple of different templates and show Hot-Swapping feature -->

        </div>
        <div class="example-box" data-ui-field="cover-example-template-apply">
            <p>
                Click the button below to apply the template <code>mdl_card</code>.
            </p>
            <p align="center"><a onclick="cover_example_apply_template()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Apply Template</a></p>
            <script>
                function cover_example_apply_template() {
                    zuix.field('cover-example-template-apply').animateCss('fadeOut', function () {
                        this.visibility('hidden');
                    });
                    zuix.componentize();
                }
            </script>
        </div>
        <div self="size-x1 left" class="example-box">
            <p>
                Using this pattern, you can focus on templates and components
                and progressively reshape your website/webapp and increase both
                your creativity and productivity.
            </p>
        </div>
    </div>

    <div self="size-xlarge center-center" layout="column top-stretch" class="animated fadeIn">
        <div self="top-stretch" class="example-box">
            <h6>Optimize speed and performance</h6>
            <p>
                Either you're writing a <em>Progressive Web App</em> (PWA) or a simple website,
                <strong>lazy loading</strong> is a built-in feature that can boost up
                site speed by loading content and components only when they come
                visible in the screen viewport.
            </p>

            <p>
                The following code loads the <code>view_pager</code> component
                (from <a href="https://genielabs.github.io/zkit">zKit</a>) and
                adds 30 random pictures using the example
                <code>random_image_item</code> component.
            </p>
        </div>
        <div self="md-full" class="example-box">
            <em class="caption">ViewPager with lazy-loaded items</em>

```html
<div data-ui-load="@lib/controllers/view_pager"
     data-o-slide="true"
     data-o-paging="true"
     data-ui-lazyload="auto">
    <!-- Add 30 'random_image_item' -->
    {% raw %}{% set list = Array(30) %}
    {% for x in list %}
    <div data-ui-load="content/home/examples/view_pager/random_image_item"
         data-ui-lazyload="true"></div>
    {% endfor %}{% endraw %}
</div>
```
            <p>The result of this snippet is the image strip shown below.</p>

        </div>

        <!--
        <div align="center"><a href="https://codepen.io/genielabs/pen/weJjBL" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Example on CodePen</a></div>
        -->

    </div>

    <div style="width: 100%">
        <div data-ui-load="@lib/controllers/view_pager"
             data-ui-context="view_pager_example"
             data-o-slide="true"
             data-o-paging="true"
             data-ui-lazyload="auto"
             class="view-pager-example">
            <!-- Add 30 'random_image_item' -->
            {% set list = Array(30) %}
            {% for x in list %}
            <div data-ui-load="content/home/examples/view_pager/random_image_item"
                 data-ui-lazyload="true" class="lazy-image"></div>
            {% endfor %}
        </div>
    </div>



    <div self="size-xlarge center-center" layout="column top-center" class="animated fadeIn">
        <p class="example-box">
            Drag or fast swipe over it <em class="material-icons mdl-typography--font-bold mdl-color-text--green">fast_rewind</em>
            horizontally <em class="material-icons mdl-typography--font-bold mdl-color-text--green">fast_forward</em>
            to actually see the lazy-loading in action.
        </p>

        <div self="left" class="example-box">
            <h6>More features</h6>
            <p>
                Just to name some, <strong>controllers overlapping</strong> and <strong>hot view swapping</strong>
                are unique zUIx features.
                The first one allows loading of multiple controllers on the same view element.
                The second one allow to dynamically replace a view with a different (or updated) template at any time.
            </p>
            <p>
                <strong>zUIx</strong> is a lightweight library (<strong>13kB</strong> gzipped),
                though still offering a full feature set.
            </p>
            <ul>
                <li>Events, Behaviors and Hooks</li>
                <li>Components and fields caching</li>
                <li>Automatic events unbinding</li>
                <li>Integrated resources loader</li>
                <li>Integrated jQuery-alike DOM helper</li>
                <li>Integrated app-bundler</li>
            </ul>
        </div>

        <div self="left" class="example-box">
            <h6>zUIx Web Starter</h6>
            <p>
                Is an integrated solution for building and publishing any kind of web project,
                from a simple website or blog to more complex web applications.
            </p>
            <ul>
                <li>
                    Built-in web server and build scripts
                </li>
                <li>
                    Automatic generation of <code>zUIx</code> components bundle
                </li>
                <li>
                    Compiles <code>LESS</code> CSS style files
                </li>
                <li>
                    Integrates <code>ESLint</code> check and error reporting, suitable for <code>CI</code> tools
                </li>
                <li>
                    Ships with <code>static-site</code> engine and its fully featured commands set
                    for creating static pages (<code>Front Matter</code>, <code>Swig</code>, <code>Markdown</code>, ...).
                </li>
                <li>
                    Boost up site loading with automatic generation of <code>PWA</code> scripts <small>(WIP)</small>
                </li>
            </ul>

        </div>

    </div>
<!--
    <div self="size-xlarge center-center" layout="rows top-center" class="animated fadeIn">
        <div self="size-full left" class="example-box">
            <h6>zUIx Web Starter</h6>
            <p>
                ...
            </p>
        </div>
    </div>
-->


    <div class="start-button" align="center">
        <a href="#/start" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Get Started</a>
    </div>


</div>




<!--


###### What can I do with just `zuix` ?

- <i class="material-icons">arrow_right</i> Create web components and templates
- <i class="material-icons">arrow_right</i> Load and reuse components and templates from across websites
- <i class="material-icons">arrow_right</i> Query the DOM with a lite jQuery-like helper class (`zuix.$`)
O <i class="material-icons">arrow_right</i> Gain better performance with field caching and automatic disposal of allocated resources and event handlers
O <i class="material-icons">arrow_right</i> Generate the application bundle using just the web browser (no PM required)
O <i class="material-icons">arrow_right</i> Create optimized and faaast Single Page Applications (SPA) / Progressive Web Applications

###### What can I do with the `zuix-web-starter` ?

O <i class="material-icons">arrow_right</i> Take advantage of using building and packaging tools
O <i class="material-icons">arrow_right</i> Generate zUIx components bundle automatically
O <i class="material-icons">arrow_right</i> Use Static-Site engine commands for creating static websites and blogs
O <i class="material-icons">arrow_right</i> Boost up site loading with automatic generation of PWA scripts
O <i class="material-icons">arrow_right</i> Use LESS CSS style files
O <i class="material-icons">arrow_right</i> Use integrated web server
O <i class="material-icons">arrow_right</i> Use automatic build scripts with ESLint check and error reporting, suitable for CI tools.


-->